<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <commands>
      <command name="sharedsource:system:compare"
               type="Sitecore.Sharedsource.VisualCompare.Shell.Framework.commands.system.VisualCompare, Sitecore.SharedSource.VisualCompare" />
    </commands>
    
    <pipelines>
      <renderField>
        <processor type="Sitecore.Sharedsource.VisualCompare.Pipelines.RenderField.VisualCompare, Sitecore.SharedSource.VisualCompare"
                   patch:before="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues']">
          <sourcedb>master</sourcedb>
          <targetdb>web</targetdb>
          <renderBeforeComparison>true</renderBeforeComparison>
          <renderTextualDifferences>true</renderTextualDifferences>
          <indicateUnchangedFields>false</indicateUnchangedFields>
          <excludeFieldTypes hint="list">
            <exclude hint="unique">lowercase</exclude>
          </excludeFieldTypes>
        </processor>
      </renderField>
    </pipelines>

    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Mode.CanSelectMode" set:type="Sitecore.SharedSource.VisualCompare.ExperienceEditor.Ribbon.CanSelectMode, Sitecore.SharedSource.VisualCompare"/>
      <request name="ExperienceEditor.Mode.SelectModeRequest" set:type="Sitecore.SharedSource.VisualCompare.ExperienceEditor.Ribbon.SelectModeRequest, Sitecore.SharedSource.VisualCompare"/>
    </sitecore.experienceeditor.speak.requests>

  </sitecore>
</configuration>
